# Avaliação Parcial 2 
## Mineração de Dados
### Michel de melo Vieira
### 389959

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# Lendo dataset
df = pd.read_csv("breast_cancer_.csv");

In [4]:
df.head()

       0      1       2       3        4  ...      27      28       29   30  y
0  17.99  10.38  122.80  1001.0  0.11840  ...  0.2654  0.4601  0.11890  0.0  0
1  20.57  17.77  132.90  1326.0  0.08474  ...  0.1860  0.2750  0.08902  0.0  0
2  19.69  21.25  130.00  1203.0  0.10960  ...  0.2430  0.3613  0.08758  0.0  0
3  11.42  20.38   77.58   386.1  0.14250  ...  0.2575  0.6638  0.17300  NaN  0
4  20.29  14.34  135.10  1297.0  0.10030  ...  0.1625  0.2364  0.07678  0.0  0

[5 rows x 32 columns]

In [0]:
# Ferivicação de valores faltantes por atributo
df_nan = df.isna().sum()

In [0]:
df = df.fillna(np.mean(df,axis=0))

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
# Separando atributos das classes
X = df.values[:,:-1]
y = df.values[:, -1]

In [0]:
# Dividindo o data sete em treino e teste com a funcao train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train_val, X_val, y_train_val, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=42)

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
std = StandardScaler()

In [0]:
# Standatizando os atributos
X_train_std = std.fit_transform(X_train)
X_test_std = std.transform(X_test)
X_train_val = std.fit_transform(X_train_val)
X_val = std.transform(X_val)

In [0]:
from keras.models import Sequential

In [0]:
from keras.layers import Dense

In [0]:
from sklearn.linear_model import Perceptron

In [0]:
model = Sequential()

In [0]:
model.add(Dense(30,activation='sigmoid'))
model.add(Dense(15,activation='relu'))
model.add(Dense(1))

In [0]:
model.compile(optimizer='sgd', loss='mse', metrics=['mae','acc'])

In [56]:
model.fit(X_train_std,y_train,epochs=30)

Epoch 1/30
455/455 [==============================] - 0s 533us/step - loss: 0.5190 - mean_absolute_error: 0.6124 - acc: 0.4527
Epoch 2/30
455/455 [==============================] - 0s 102us/step - loss: 0.1807 - mean_absolute_error: 0.3928 - acc: 0.7341
Epoch 3/30
455/455 [==============================] - 0s 126us/step - loss: 0.1380 - mean_absolute_error: 0.3214 - acc: 0.8066
Epoch 4/30
455/455 [==============================] - 0s 98us/step - loss: 0.1090 - mean_absolute_error: 0.2745 - acc: 0.8615
Epoch 5/30
455/455 [==============================] - 0s 90us/step - loss: 0.0915 - mean_absolute_error: 0.2438 - acc: 0.8901
Epoch 6/30
455/455 [==============================] - 0s 79us/step - loss: 0.0802 - mean_absolute_error: 0.2220 - acc: 0.9077
Epoch 7/30
455/455 [==============================] - 0s 81us/step - loss: 0.0722 - mean_absolute_error: 0.2070 - acc: 0.9209
Epoch 8/30
455/455 [==============================] - 0s 80us/step - loss: 0.0669 - mean_absolute_error: 0.1975 - acc: 0.9319
Epoch 9/30
455/455 [==============================] - 0s 77us/step - loss: 0.0625 - mean_absolute_error: 0.1895 - acc: 0.9407
Epoch 10/30
455/455 [==============================] - 0s 81us/step - loss: 0.0591 - mean_absolute_error: 0.1840 - acc: 0.9495
Epoch 11/30
455/455 [==============================] - 0s 74us/step - loss: 0.0560 - mean_absolute_error: 0.1782 - acc: 0.9516
Epoch 12/30
455/455 [==============================] - 0s 75us/step - loss: 0.0538 - mean_absolute_error: 0.1755 - acc: 0.9538
Epoch 13/30
455/455 [==============================] - 0s 82us/step - loss: 0.0512 - mean_absolute_error: 0.1697 - acc: 0.9626
Epoch 14/30
455/455 [==============================] - 0s 77us/step - loss: 0.0492 - mean_absolute_error: 0.1661 - acc: 0.9714
Epoch 15/30
455/455 [==============================] - 0s 75us/step - loss: 0.0477 - mean_absolute_error: 0.1641 - acc: 0.9714
Epoch 16/30
455/455 [==============================] - 0s 81us/step - loss: 0.0457 - mean_absolute_error: 0.1597 - acc: 0.9736
Epoch 17/30
455/455 [==============================] - 0s 74us/step - loss: 0.0443 - mean_absolute_error: 0.1568 - acc: 0.9758
Epoch 18/30
455/455 [==============================] - 0s 77us/step - loss: 0.0430 - mean_absolute_error: 0.1556 - acc: 0.9758
Epoch 19/30
455/455 [==============================] - 0s 78us/step - loss: 0.0416 - mean_absolute_error: 0.1516 - acc: 0.9780
Epoch 20/30
455/455 [==============================] - 0s 75us/step - loss: 0.0406 - mean_absolute_error: 0.1495 - acc: 0.9802
Epoch 21/30
455/455 [==============================] - 0s 82us/step - loss: 0.0396 - mean_absolute_error: 0.1478 - acc: 0.9824
Epoch 22/30
455/455 [==============================] - 0s 74us/step - loss: 0.0384 - mean_absolute_error: 0.1463 - acc: 0.9868
Epoch 23/30
455/455 [==============================] - 0s 76us/step - loss: 0.0376 - mean_absolute_error: 0.1443 - acc: 0.9868
Epoch 24/30
455/455 [==============================] - 0s 88us/step - loss: 0.0367 - mean_absolute_error: 0.1421 - acc: 0.9868
Epoch 25/30
455/455 [==============================] - 0s 97us/step - loss: 0.0360 - mean_absolute_error: 0.1414 - acc: 0.9868
Epoch 26/30
455/455 [==============================] - 0s 97us/step - loss: 0.0351 - mean_absolute_error: 0.1379 - acc: 0.9868
Epoch 27/30
455/455 [==============================] - 0s 108us/step - loss: 0.0345 - mean_absolute_error: 0.1384 - acc: 0.9890
Epoch 28/30
455/455 [==============================] - 0s 101us/step - loss: 0.0339 - mean_absolute_error: 0.1365 - acc: 0.9890
Epoch 29/30
455/455 [==============================] - 0s 116us/step - loss: 0.0332 - mean_absolute_error: 0.1352 - acc: 0.9912
Epoch 30/30
455/455 [==============================] - 0s 103us/step - loss: 0.0327 - mean_absolute_error: 0.1346 - acc: 0.9912

In [57]:
mse, mae, acc = model.evaluate(X_test_std,y_test)

114/114 [==============================] - 0s 617us/step

In [58]:
mse, mae, acc

(0.029199173183817612, 0.12377018272353892, 0.9824561403508771)