# Atividades

## Analisando dados de ocorrências de feminicídio na cidade de São Paulo

Algumas perguntas com relação ao dataset podem ser respondidas
- Como os índices de feminicídio evoluíram em relação ao tempo e como podem evoluir nos próximos anos?
- Quais foram os períodos com maiores taxas nos últimos anos?
- Quais são os logradouros, tipos de locais, bairros e regiões com maiores índices?
- Quais são os dias da semana, horários com maiores índices?

Dataset disponível em: http://www.ssp.sp.gov.br/transparenciassp/Default.aspx

In [1]:
# Leitura dos dados

In [2]:
import pandas as pd
import numpy as np

In [38]:
Df20191 = pd.read_excel('../Datasets/DadosBO_2019_1(FEMINICÍDIO).xlsx')

In [28]:
Df20192 = pd.read_excel('../Datasets/DadosBO_2019_2(FEMINICÍDIO).xlsx')

In [29]:
Df20193 = pd.read_excel('../Datasets/DadosBO_2019_3(FEMINICÍDIO).xlsx')

In [30]:
Df20194 = pd.read_excel('../Datasets/DadosBO_2019_4(FEMINICÍDIO).xlsx')

In [31]:
Df20195 = pd.read_excel('../Datasets/DadosBO_2019_5(FEMINICÍDIO).xlsx')

In [32]:
Df20196 = pd.read_excel('../Datasets/DadosBO_2019_6(FEMINICÍDIO).xlsx')

In [39]:
Df20191.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2019,25,25/2019,03/01/2019 12:17:20,03/01/2019 19:05:46,03/01/2019,DE MADRUGADA,03/01/2019,03/01/2019 12:17:20,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
1,2019,25,25/2019,03/01/2019 12:17:20,03/01/2019 19:05:46,03/01/2019,DE MADRUGADA,03/01/2019,03/01/2019 12:17:20,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
2,2019,25,25/2019,03/01/2019 12:17:20,03/01/2019 19:05:46,03/01/2019,DE MADRUGADA,03/01/2019,03/01/2019 12:17:20,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
3,2019,25,25/2019,03/01/2019 12:17:20,03/01/2019 19:05:46,03/01/2019,DE MADRUGADA,03/01/2019,03/01/2019 12:17:20,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
4,2019,141,141/2019,04/01/2019 03:41:43,04/01/2019 04:58:19,04/01/2019,DE MADRUGADA,04/01/2019,04/01/2019 03:41:43,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN

In [34]:
Df20191.isna().sum()

ANO_BO                       0
NUM_BO                       0
NUMERO_BOLETIM               0
BO_INICIADO                  0
BO_EMITIDO                   0
DATAOCORRENCIA               0
PERIDOOCORRENCIA             0
DATACOMUNICACAO              0
DATAELABORACAO               0
BO_AUTORIA                   0
FLAGRANTE                    0
NUMERO_BOLETIM_PRINCIPAL     0
LOGRADOURO                   0
NUMERO                       0
BAIRRO                       0
CIDADE                      29
UF                          23
LATITUDE                     0
LONGITUDE                    0
DESCRICAOLOCAL               0
EXAME                        0
SOLUCAO                      9
DELEGACIA_NOME              15
DELEGACIA_CIRCUNSCRICAO      7
ESPECIE                      5
RUBRICA                      9
DESDOBRAMENTO                3
STATUS                       1
NOMEPESSOA                   0
TIPOPESSOA                   0
                            ..
Unnamed: 78                  8
Unnamed: 79                  8
Unnamed: 80                 11
Unnamed: 81                 13
Unnamed: 82                 13
Unnamed: 83                 16
Unnamed: 84                 18
Unnamed: 85                 18
Unnamed: 86                 14
Unnamed: 87                 20
Unnamed: 88                 22
Unnamed: 89                 24
Unnamed: 90                 22
Unnamed: 91                 20
Unnamed: 92                 23
Unnamed: 93                 24
Unnamed: 94                 23
Unnamed: 95                 25
Unnamed: 96                 27
Unnamed: 97                 29
Unnamed: 98                 29
Unnamed: 99                 28
Unnamed: 100                29
Unnamed: 101                30
Unnamed: 102                30
Unnamed: 103                30
Unnamed: 104                29
Unnamed: 105                30
Unnamed: 106                30
Unnamed: 107                30
Length: 108, dtype: int64

## Pré-processamento

Antes de analisar, caso necessário, realiza um procedimento de limpeza de dados, como remover duplicados, tratar strings, converter dados para outros formatos, criar novas colunas como dia do mês, da semana e mês.

**P.S.**: *Essa pode ser a fase mais demorada de todo o desafio.*

In [ ]:
# REMOVENDO DADOS DUPLICADOS

# TRANSFORMANDO STRINGS PARA LOWER CASE

# PADRONIZANDO STRING

# TRANSFORMANDO DADOS TEMPORAIS NO TIPO APROPRIADO

## Análise Exploratória

Agora é a hora de descobrir relações e algumas *hidden informations* do dataset.